<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>TSP Test</title>
  </head>
  <body>
    <div>
      {% if current_user.is_anonymous %}
      <h1>NBC Latam</h1>
      <p><a href="/create_account">Crear cuenta</a></p>
      <p><a href="/login">Iniciar sesión</a></p>
      {% else %}
      <img src="{{ url_for('user_pic', filename=current_user.pic_name) }}" />
      <h2>Hola {{ current_user.name }}, Bienvenido a NBC Latam</h2>
      <br />
      <a href="{{ url_for('logout') }}">Cerrar sesión</a>
      {% endif %}
      <br />
    </div>
  </body>
</html>
